/* ======== Summary Detail Styles ======== */
.custom-details summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
}

.custom-details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

.custom-details[open] {
    padding: 0.5em;
}

.custom-details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}